.top__hero {
    height: 660px;
    background-image: url('../../../assets/hero.jpg');
    margin-top: -80px;
    background-size: cover;
}

.hero__title {
    padding-top: 150px;
    margin: 0;
    text-transform: uppercase;
    font-size: 72px;
    color: #000;
    line-height: 1;
}